<div style="text-align:center">
  <h1>팀 현황</h1>
  <div style="font-size:50px">
    <% if Team.ids.length > 3 %>
      <% @teams.each do |t| %>
        <%= t.name %>, <%= t.score %>점 <%= t.member %>
        <br>
      <% end %>
    <% end %>
    <%= button_to '팀 매치', match_path %>
  </div>
  <iframe width="0" height="0" src="https://www.youtube.com/embed/bH-uH1gA9f8?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>

