<div style="text-align:center">
  <h1>혼돈의 카오스</h1>
  <%= form_tag chaoses_path do %>
      <%= select_tag 'games', options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]].insert(0, [@msg,@msg])  ), selected: @msg, onchange: "window.location.replace('/chaoses/'+this.value);" %>
  <% end %>
</div>