<div style="text-align:center">
  <h1>초성 퀴즈</h1>
  <br><br><br><br><br>
  <div style="font-size:400px">
    <%= @letters.sample %><%= @letters.sample %>
  </div>

  <%= form_tag add_path do %>
      1점추가<%= text_field_tag :name %>
  <% end %>
</div>